
:root {
    --main-color:#FB743E;
    --th-color:#383E56;
    --section-padding: 60px;
    --section-bg: #f6f6f6;

}






* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Work Sans', sans-serif
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screen */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium screen */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large screen */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Start Components */

.special-heading {
   color: #fb743e6e ; 
   font-size: 100px;
   text-align: center;
   font-weight: 800;
   letter-spacing: -3px;
   margin: 0;
}

.special-heading + p {
    margin: -30px;
    font-size: 20px;
    text-align: center;
    color: var(--th-color);
}


@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin: -17px;
        font-size: 15px;
    }

}


/* End Components */




/* Start Header */

.Header {
    padding: 20px;
}

.Header .container {
   display: flex; 
   justify-content: space-between;
   align-items: center;
}

.Header .logo {
    width: 60px;

}

.Header .links {
    position: relative;
}

.Header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.Header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.Header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}


.Header .links .icon span:first-child {
    width: 100%;
}


.Header .links .icon span:nth-child(2) {
    width: 60%;
    transition:  0.3s;
}


.Header .links .icon span:last-child {
    width: 100%;
}

.Header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    transition: 0.3s;
    z-index: 1;
}

.Header .links ul::before {
    content: "";
    border: 10px solid ;
    border-color: transparent transparent #f6f6f6 transparent ;;
    position: absolute;
    right: 5px;
    top: -20px;
}

.Header .links:hover ul {
    display: block;
}

.Header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.Header .links ul li a:hover {
    padding-left: 25px;
}

.Header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}


/* End Header */



/* Start Landing Section */

.landing {
    background-image: url(../Images/Bg1.jpg) ;
    background-size: cover;
    height: calc(100vh - 110px);
    position: relative;
}

.landing .intro {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    WIDTH: 320px;
    max-width: 100%;
}

.landing .intro h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    
}

.landing .intro p {
    font-size: 20px;
    line-height: 1.8;
    color: var(--th-color);
    font-weight: 600;
}


/* End Landing Section */



/* Start Features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-bg);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-gap: 20px;

}

.features .feat {
    padding: 20px;
    text-align: center;
    
}

.features .feat i {
    color: var(--main-color);
    font-size: 35px;
    
}

.features .feat h3 {
    font-weight: 800;
    color: var(--th-color);
    margin: 30px 0;

}

.features .feat p {
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}


/* End Features */


/* Start Services   */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}


.services .services-content {   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .service {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .service {
        flex-direction: column;
        text-align: center;
    }
}


.services .services-content .service i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .service .text {
    flex: 1;
}

.services .services-content .service .text h3 {
    margin: 6px 0 15px;
    color: var(--th-color);
}

.services .services-content .service .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: '';
    background-color: var(--th-color);
    position: absolute;
    right: 0;
    top: -50px;
    width: 70px;
    height: calc(100% + 80px);
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .img-col {
        display: none;
    }
}

/* End Services   */




/* Start Portfolio  */

.Portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-bg);
}

.Portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-gap: 30px;
    margin-top: 100px;
}


.Portfolio .card {
    position: relative;
    width: 320px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.Portfolio .card:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.Portfolio .card:hover:before {
    bottom: 0;
}

.Portfolio .card:nth-child(1):before {
    background: var(--main-color);
}

.Portfolio .card:nth-child(2):before {
    background: var(--th-color);
}

.Portfolio .card:nth-child(3):before {
    background: var(--main-color);
}

.Portfolio .card div {
    position: relative;
    z-index: 2;
}

.Portfolio .card div h2 {
    margin-bottom: 10px;
    font-size: 22px;
    transition: 0.5s;
    color: #333;
}

.Portfolio .card div p {
    font-size: 15px;
    transition: 0.5s;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #777;
}

.Portfolio .card div a {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    background: #fff;
    color: #777;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .05);
}

.Portfolio .card:hover div h2,
.Portfolio .card:hover div p {
    color: #fff;
}

/* End Portfolio  */


/* Start About */

.About {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding) + 60px;
}

.About .About-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .About .About-content {
        flex-direction: column;
        text-align: center;
    }
}

.About .About-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .About .About-content .image {
        margin: 0 auto 60px;
    }
}

.About .About-content .image::before {
    content: '';
    position: absolute;
    background-color: #fb743e6e;
    width: 80px;
    height: calc(100% + 60px);
    top: -49px;
    left: -20px;
    z-index: -1;

}

.About .About-content .image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 230px;
    border-left: 80px solid var(--th-color);
    border-bottom: 80px solid var(--th-color);
    z-index: -1;
    right: -146px;
    top: -22px;
}

@media (max-width: 991px) {
    .About .About-content .image::before,
    .About .About-content .image::after {
        display: none;
    }
}


.About .About-content .image img {
    max-width: 100%;
}

.About .About-content .text {
    flex-basis: calc(100% - 500px) ;
}

.About .About-content .text p:first-of-type {
    font-weight:bold;
    line-height: 2;
    margin-bottom: 50px;
}

.About .About-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--th-color);
}

.About .About-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* End About */


/* Start Contact */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-bg);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .lable {
    font-size: 33px;
    font-weight: 800;
    color: var(--th-color);
    letter-spacing: -1px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 33px;
    font-weight: normal;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--th-color);
}

@media (max-width: 767px) {
    .contact .info .lable,
    .contact .info .link {
        font-size: 25px;
    }
}


/* End Contact */

/* Start footer */

.footer {
    background-color: var(--th-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End footer  */